<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title></title>
    <style>
    * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    body {
    font-family: sans-serif;
    background: white;
    }
    .box{
    margin-left:30vw;
    margin-top:30vh;
    }
    .donut-chart {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    }
    .donut-chart .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    .donut-chart .chart-center {
    position: absolute;
    border-radius: 50%;
    }
    .donut-chart .chart-center span {
    display: block;
    text-align: center;
    }

    .donut-chart.chart2 {
    width: 200px;
    height: 200px;
    background: #e1e1e1;
    }
    .donut-chart.chart2 .slice.one {
    clip: rect(0 200px 100px 0);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #48b2c1;
    }
    .donut-chart.chart2 .slice.two {
    clip: rect(0 100px 200px 0);
    -webkit-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
    background: #48b2c1;
    }
    .donut-chart.chart2 .chart-center {
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    background: #fff;
    }
    .donut-chart.chart2 .chart-center span {
    font-size: 40px;
    line-height: 150px;
    color: #48b2c1;
    }
    .donut-chart.chart2 .chart-center span:after {
    content: "{{percentage}}""%";
    }

    </style>

  </head>
  <body>


<div class='box'>

  <div class="donut-chart chart2">
    <div class="slice one"></div>
    <div class="slice two"></div>
    <div class="chart-center">
      <span></span>
    </div>
  </div>
  </div>

  <div>

    User:{{data.name}}
    <br>
    Total Calories:{{data.totalCal}}
    <br>
    {{percentage}}
    <br>
    Calories Consumed Till now:{{data.calNow}}
    <ul>
      Food items consumed till now:

    {{#each data.kyaKhaya as |x|}}


          <li>
            {{x.name}} &nbsp {{x.calories}}/per piece &nbsp {{x.quantity}} 
          </li>

    {{/each}}

  </ul>






  </div>
<button id='addFood'>ADD</button>


</body>
    <script
src="http://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script src="page2.js"></script>
</html>
